@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/blade-ui-kit/blade-heroicons/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-palette-green: #8DDA90;
    --color-palette-yellow: #FAFA8B;
    --color-palette-orange: #F6C87B;
    --color-palette-red: #DB5656;
}

@layer base {
    body {
        font-family: var(--font-sans);
    }
}
